
.container {
    display: flex;
    
}

.left-main {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    align-items: center;
    
}

.right-main {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    align-items: center;
}

.main_head {
    font-family: 'Times New Roman', Times, serif;
    color: steelblue;
    max-width: fit-content;
    padding-right: 25%;
}

.phrase {
    font-family: 'Times New Roman', Times, serif;
    color:firebrick;
    font-weight: bold;
}

.link {
    color: rgb(30, 2, 2);
}

.dishes {
    list-style: none;
}

.list_item {
    margin: 1rem 0;
}